.footer-inner {
  margin-top: 80px;
  border-top: 1px solid #ababab;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 80px;
  margin-right: 50px;
  font-size: 12px;
}
.footer-inner .title {
  font-size: 14px;
  font-weight: 700;
}
.footer-inner ul {
  list-style: none;
  font-size: 12px;
  margin: 0;
  padding: 0;
}